In [4]:
#pip install pandas

In [6]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

### pandas
pandas is powerfull python library used for Data manupulation, analysis and exploration. It provides data structure and functions to wrok with structured data efficiently.

The data structures of pandas are:
1. Series ------ one dimensional------ Series is one dimensional labeled array similar to a list
2. DataFrame-----Two dimensional----------------DaraFrame are 2 dimensional labeled table simiral to and excel sheet or SQL table

Key features of pandas are:
1. handling missing data
2. filtering, grouping and ..
3. reading and writing data from various file formats like csv, excel, json, html, etc.
4. easy indexing and slicing
5. Data cleaning and Transformation

In [10]:
l=["Akansha","Sahil","Shubham","Roshani","Satya"]
print(type(l))
s=pd.Series(l)  # Series, cause we had a 1 dimensional data
print(type(s))
print(s)
print(s[::-1])

<class 'list'>
<class 'pandas.core.series.Series'>
0    Akansha
1      Sahil
2    Shubham
3    Roshani
4      Satya
dtype: object
4      Satya
3    Roshani
2    Shubham
1      Sahil
0    Akansha
dtype: object

In [16]:
s=pd.Series(l, index=["a","b","c","d","e"]) #Giving are own indexes
print(s)
print(s["e"])
print(s[1])

a    Akansha
b      Sahil
c    Shubham
d    Roshani
e      Satya
dtype: object
Satya
Sahil

In [21]:
d={"a":"Harry", "b":"Pottar", "c":"Tom", "d":"jerry"} # in dictionary it will take the key as a index
s=pd.Series(d)
print(s)
print(s[3])

a     Harry
b    Pottar
c       Tom
d     jerry
dtype: object
jerry

In [23]:
l=[["Harry",92,"A"],["Pottar",84,"B"],["Tom",76,"C"],["Jerry",95,"A"]]
df=pd.DataFrame(l)           # creates as 2D DataFrame-----------------------------
print(df)

        0   1  2
0   Harry  92  A
1  Pottar  84  B
2     Tom  76  C
3   Jerry  95  A

In [25]:
df=pd.DataFrame(l, columns=["Name","Marks","Grade"]) #can't change the row index but can rename the columns
print(df)
df.info()

     Name  Marks Grade
0   Harry     92     A
1  Pottar     84     B
2     Tom     76     C
3   Jerry     95     A
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Marks   4 non-null      int64
 2   Grade   4 non-null      object
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes

### Object datatype in pandas
pandas use object datatype as a general purpose container for string. The object datatype can store any python object for example : string, list, tuple

This versitality allows pandas to handle mixed datatypes easily

earilar version of pandas relies on numpy for array stucture and numpy doesn't have a dedicated string type instead it uses object arrays for strings

In [30]:
df=pd.DataFrame(["Harry", 42, [1,2,3]])  #many datatype in a same column willbe considered as object datatype
print(df)
df.info()  #info() can only be used for DataFrame and not for Series

           0
0      Harry
1         42
2  [1, 2, 3]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3 non-null      object
dtypes: object(1)
memory usage: 156.0+ bytes

In [32]:
df=pd.DataFrame(["Harry", 42, [1,2,3]],dtype="string")  # converting datatype from object to string
print(df)
df.info()

           0
0      Harry
1         42
2  [1, 2, 3]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3 non-null      string
dtypes: string(1)
memory usage: 156.0 bytes

In [33]:
d={
    "Name" : ["Harry","Pottar","Tom","Jerry"],
    "Marks" : [18,19,12,11],
    "Grade" : ["A","A","B","B"]
}
df=pd.DataFrame(d)
print(df)

     Name  Marks Grade
0   Harry     18     A
1  Pottar     19     A
2     Tom     12     B
3   Jerry     11     B

In [40]:
n=np.random.randn(10,4)
df=pd.DataFrame(n, columns=["A","B","C","D"])
print(df)
df.to_csv("Dummy_DataFrame.csv")

          A         B         C         D
0 -1.956453  1.646283  0.789806 -0.346112
1  0.270582  1.979201  0.569611  0.536514
2  0.706061  0.619076 -0.506910 -0.882711
3  0.196851  0.745231  0.608959  1.942625
4 -0.754749  0.355445 -0.442085  0.228931
5  0.581234 -0.739522  0.622883  1.085930
6 -0.672170  0.545892  1.242017  0.976761
7  0.658042 -0.681061 -0.483321 -0.128873
8  1.806031  0.205102 -0.032451 -0.191149
9  0.781460 -0.140486 -0.320260  2.944027